<h1>Job</h1>
<div class="alert alert-info">
  <%= @job.aasm.current_state.to_s.titleize %>
</div>
<% @job.aasm.events(possible: true).map(&:name).each do |event| %>
  <%= link_to event, [event, @job], method: :patch, class: "btn btn-default" %>
<% end %>
