<h1>Job</h1>
<div class="alert alert-info">
  <%= @job.aasm.current_state.to_s.titleize %>
</div>
<% @job.operator_events.each do |event| %>
  <%= link_to t(event, scope: [:job, :event]), [event, @job], method: :patch, class: "btn btn-#{t event, scope: [:job, :btn_class]}" %>
<% end %>
