<h1>Job</h1>
<div class="alert alert-info">
  <%= @job.aasm.current_state.to_s.titleize %>
</div>
<% @job.aasm.events(possible: true).map(&:name).tap do |possible| %>
  <% if possible.include? :run %>
    <%= link_to "Run", run_job_path, method: :patch, class: "btn btn-success" %>
  <% end %>
  <% if possible.include? :clean %>
    <%= link_to "Clean", clean_job_path, method: :patch, class: "btn btn-default" %>
  <% end %>
  <% if possible.include? :sleep %>
    <%= link_to "Shut Down", sleep_job_path, method: :patch, class: "btn btn-danger" %>
  <% end %>
<% end %>
